body {
	background-color:#081438;
}

body h1 {
	color: white;
	font-family: Old newspaper font;
	text-align: center;
	font-size: 80px;
	text-decoration: underline;
	font-weight: bold
}
img {
	width:500px;
	height:
}